@media (min-width:1000px) and (max-width:4000px) {
  .framee-paragraph {
    line-height: 1.22;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    text-align:center;
    color: #FFFFFF;
    margin-left: 5.6%;
    margin-right: 5.6%;
    margin-top: 3.66%;
    margin-bottom: 3.66%;
    text-decoration: none;
  } 
}
  
@media (min-width:700px) and (max-width:1000px) {
  .framee-paragraph {
    line-height: 1.22;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    text-align:center;
    color: #FFFFFF;
    margin-left: 1%;
    margin-right: 1%;
    /*margin-left: 5.6%;
    margin-right: 5.6%;*/
    margin-top: 3.66%;
    margin-bottom: 3.66%;
    text-decoration: none;
  }
}
  
@media (min-width:320px) and (max-width:700px) {
  .framee-paragraph {
    line-height: 1.21;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    text-align:center;
    color: #FFFFFF;
    margin-left: 1%;
    margin-right: 1%;
    /*margin-left: 5.6%;
    margin-right: 5.6%;*/
    margin-top: 3.66%;
    margin-bottom: 3.66%;
    text-decoration: none;
  }
}