@media (min-width:1000px) and (max-width:4000px) {
  .place__title {
    margin-left: 0%;
    margin-right: 0%;
    line-height: 1.06;
    font-size: 72px;
    font-weight: 900;
    font-style: normal;
    text-align:start;
    margin-top: 0%;
    margin-bottom: 0%;
    color: #FFFFFF;
    grid-area: title;
  }
}
  
@media (min-width:700px) and (max-width:1000px) {
  .place__title {
    margin-left: 3.3%;
    margin-right: 4.065%;
    line-height: 1.10;
    font-size: 42px;
    font-weight: 900;
    font-style: normal;
    text-align:start;
    margin-top: 0%;
    margin-bottom: 0%;
    color: #FFFFFF;
    grid-area: title;
  }
}
  
@media (min-width:320px) and (max-width:700px) {
  .place__title {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.09;
    font-size: 32px;
    font-weight: 900;
    font-style: normal;
    text-align:start;
    margin-top: 0%;
    margin-bottom: 0%;
    color: #FFFFFF;
    /*grid-area: title;*/
  }
}