@media (min-width:1000px) and (max-width:4000px) {
  .photo-grid {
    width: 92.5vw;
    height: 34.53vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7.1875vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1.35%;
    margin-bottom: 0%;
  }
}
  
@media (min-width:700px) and (max-width:1000px) {
  .photo-grid {
    width: 93.75vw;
    height: 143.75vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8.333vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2.22%;
    margin-bottom: 0%;
  }
}
  
@media (min-width:320px) and (max-width:700px) {
  .photo-grid {
    width: 90vw;
    height: 629.18%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11.88vw;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0px;
  }
}