@media (min-width:1000px) and (max-width:4000px) {
  .places {
    width: 77.11vw;
    margin-left: 11.56vw;
    margin-right: 11.56vw;
    margin-top: 7.1875vw;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    /*row-gap: 8.1%;*/
    /*padding-bottom: 0px;*/
  }
}
  
@media (min-width:700px) and (max-width:1000px) {
  .places {
    width: 100vw;
    margin-left: 0vw;
    margin-right: 0vw;
    margin-top: 11.46vw;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    /*row-gap: 5.47vw;*/
    /*padding-bottom: 0%;*/
  }
}
  
@media (min-width:320px) and (max-width:700px) {
  .places {
    width: 100vw;
    margin-left: 0vw;
    margin-right: 0vw;
    margin-top: 14.375vw;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }
}