

@media (min-width:1000px) and (max-width:4000px) {
  .logo{
    width: 21vw;
    height: 5.5vw;
    margin-top: 2.65vw;
    margin-right:auto;
    margin-left:auto;
    background-image: url(../../images/logo1.svg);
    background-size: cover;
  }
}

@media (min-width:700px) and (max-width:1000px) {
  .logo{
    width: 35vw;
    height: 9.12vw;
    margin-top: 9.12vw;
    margin-right:auto;
    margin-left:auto;
    background-image: url(../../images/logo2.svg);
    background-size: cover;
  }
}

@media (min-width:320px) and (max-width:700px) {
  .logo{
    width: 73vw;
    height: 18.75vw;
    margin-top: 6.25vw;
    margin-right:auto;
    margin-left:auto;
    background-image: url(../../images/logo3.svg);
    background-size: cover;
  }
}