@media (min-width:1000px) and (max-width:4000px) {
  .intro__textt {
    line-height: 1.4;
    width: 70.80%;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    text-align:right;
    color: #FFFFFF;
    margin-top: 0%;
    margin-right: 29%;
    margin-bottom: 0%;
  }
}
  
@media (min-width:700px) and (max-width:1000px) {
  .intro__textt {
    line-height: 1.4;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    text-align:right;
    color: #FFFFFF;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
  }
}
  
@media (min-width:320px) and (max-width:700px) {
  .intro__textt {
    line-height: 1.25;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    text-align:right;
    color: #FFFFFF;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
  }
}
