@media (min-width:1000px) and (max-width:4000px) {
  .place__url-heading {
    line-height: 1.25;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    text-align:start;
    margin-top: 0%;
    margin-bottom: 0%;
    color: #AAAAAA;
  }
}
  
@media (min-width:700px) and (max-width:1000px) {
  .place__url-heading {
    line-height: 1.21;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    text-align:start;
    margin-top: 0%;
    margin-bottom: 0%;
    color: #AAAAAA;
  }
}
  
@media (min-width:320px) and (max-width:700px) {
  .place__url-heading {
    line-height: 1.21;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    text-align:start;
    margin-top: 0%;
    margin-bottom: 0%;
    color: #AAAAAA;
  }
}