
@media (min-width:1000px) and (max-width:4000px) {
  .logo__logos3{
    z-index: -2;
    background-color: #2A2C2F;
    width: 100vw;
    height: 70px;
    margin-top: 2.6563vw;
    margin-right:auto;
    margin-left:auto;
    display:none;
    flex-direction:column;
    justify-content:space-between;
    align-items: center;
  }
}

@media (min-width:700px) and (max-width:1000px) {
  .logo__logos3{
    z-index: -2;
    background-color: #2A2C2F;
    width: 100vw;
    height: 70px;
    margin-top: 2.6563vw;
    margin-right:auto;
    margin-left:auto;
    display:none;
    flex-direction:column;
    justify-content:space-between;
    align-items: center;
  }
}

@media (min-width:320px) and (max-width:700px) {
  .logo__logos3{
    z-index: -2;
    background-color: #2A2C2F;
    width: 100vw;
    height: 9.8vw;
    margin-top: 2.6563vw;
    margin-right:auto;
    margin-left:auto;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items: center;
  }
}