@media (min-width:1000px) and (max-width:4000px) {
  .intro__introductory-text {
    line-height: 1.4;
    width: 70.99%;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    text-align:start;
    margin-right: 29%;
    margin-top: 3.933%;
    margin-bottom: 0px;
    color: #FFFFFF;
  }
}
  
@media (min-width:700px) and (max-width:1000px) {
  .intro__introductory-text {
    line-height: 1.4;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    text-align:start;
    margin-right: 0%;
    margin-top: 2.08%;
    margin-bottom: 0px;
    color: #FFFFFF;
  }
}
  
@media (min-width:320px) and (max-width:700px) {
  .intro__introductory-text {
    line-height: 1.25;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    text-align:start;
    margin-right: 0%;
    margin-top: 3.125%;
    margin-bottom: 0px;
    color: #FFFFFF;
  }
}