@media (min-width:1000px) and (max-width:4000px) {
  .place__artist {
    line-height: 1.22;
    margin-top: 1.75%;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    text-align:start;
    margin-top: 1.75%;
    margin-bottom: 0%;
    color: #FFFFFF;
  }
}
  
@media (min-width:700px) and (max-width:1000px) {
  .place__artist {
    line-height: 1.22;
    margin-top: 2.71%;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    text-align:start;
    margin-top: 2.71%;
    margin-bottom: 0%;
    color: #FFFFFF;
  }
}
  
@media (min-width:320px) and (max-width:700px) {
  .place__artist {
    line-height: 1.22;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    text-align:start;
    margin-top: 2.5%;
    margin-bottom: 0%;
    color: #FFFFFF;
  }
}